.content {

	display: flex;
	flex-direction: column;
	background-color: #F8F8F8;
	padding: 60px 3%;
	gap: 50px;
}

.category-container {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 25px;
}

.category-container-item {

	display: flex;
	flex-direction: column;
	width: 23%;
	transition: all 0.3s ease 0s;
}

.category-container-item:hover {
	box-shadow: 10px 12px 4px 0px #00000026;
	transform: translateY(-5px) scale(1.03) translateZ(0);
}

.category-button {
	font-size: 18px;
}

.list-wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 10px;
}

.list_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 35px;
}

.buttonBack {
	display: inline-block;
	width: 15%;
	align-self: end;
}