.detail-card-wrapper {
	background: #F8F8F8;
	width: 90%;
}

.detail-card-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 20px;
}

.detail-main {
	display: flex;
	flex-direction: column;
	width: 33%;
	height: 50%;
	gap: 20px;
	box-shadow: 0px 4px 4px 0px #00000040;
	background: #fff;
}

.detail-main-info {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px 30px 50px 30px;
}

.detail-dish-photo img {
	width: 100%;
}

.detail-cooking {
	display: flex;
	flex-direction: column;
	width: 60%;
	background: #fff;
	padding: 2%;
	padding-bottom: 80px;
	box-shadow: 0px 4px 4px 0px #00000040;
}

.detail-cooking-ingredients {
	display: flex;
	flex-direction: column;
	font-family: Quando;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
	gap: 21px;
}

.detail-cooking-ingredients div {
	display: flex;
	justify-content: space-between;
	background: #FBFBFB;
	padding: 1% 3% 1% 8%;
}

.detail-cooking-plan {
	display: flex;
	flex-direction: column;
	background: #FFC759;
	margin: 3% 0;
	padding: 5%;
	gap: 15px;
}

.detail-cooking-plan>ol>li {
	margin-bottom: 15px;
}


@media (max-width: 786px) {
	.detail-card-wrapper {
		width: 95%;
	}

	.detail-card-container {
		flex-direction: column;
	}

	.detail-main {
		width: 100%;
		flex-direction: row;
		gap: 5px;
	}

	.detail-main-info {
		padding: 10px;
		gap: 10px;
	}

	.detail-cooking {
		flex-direction: row;
		justify-content: center;
		margin-right: 10px;
		width: 100%;
		padding-bottom: 60px;
	}

	.detail-cooking-ingredients {
		width: 35%;
		font-size: 18px;
		line-height: 22px;
		gap: 11px;
		margin-right: 15px;
	}

	.detail-cooking-plan {
		margin-right: 10px;
		padding: 10px;
		gap: 0px;
	}

	.detail-cooking-ingredients div {
		display: flex;
		justify-content: space-between;
		background: #FBFBFB;
		padding: 0px 5px;
	}

}

@media (max-width: 480px) {
	.detail-card-container {
		margin: 10px;
		margin-top: 20px;
	}

	.detail-main {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 20px;
	}

	.detail-dish-photo {
		width: 70%;
	}

	.detail-main-info {
		align-items: center;
	}

	.hidden-info {
		display: none;
	}

	.detail-cooking {
		flex-direction: column;
		width: 96%;
		padding-bottom: 60px;
		justify-content: center;
		margin-right: 10px;
	}

	.detail-cooking-ingredients {
		width: 100%;
		margin-bottom: 15px;
		margin-right: 0;
		font-size: 16px;
		line-height: 16px;
		gap: 8px;
	}
}