.banner-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #FCFFD8;
	padding: 60px 8%;
	align-items: center;
}


.banner-content {
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
}

.banner-img {
	display: block;
	width: 50%;
}

.banner-img img {
	width: 100%;
}

@media (max-width: 750px) {
	.banner-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: #FCFFD8;
		gap: 40px;
	}

	.banner-content {
		width: 100%;
		align-items: center;
		text-align: center;

	}

	.banner-img {
		width: 100%;
	}
}